* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

p {
  color: antiquewhite;
}

h2,
h3 {
  color: salmon;
}

span {
  font-weight: bolder;
  font-size: 16px;
}

h1 {
  color: #000;
}
